div.footer {
	margin-left: 920px;
	margin-top: 800px;
}

ul.navi li {
	display: inline-block;
	padding: 7px;
	border: 2px solid white;
	margin-top: 3px;
}

ul.navi li a {
	text-decoration: none;
	font-size: 20px;
	color: white;
}

div.navigation {
	width: 100%;
	height: 50px;
	background-color: #444;
}

input#s {
	margin-top: 20px;
}